input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
.inner_login {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -145px 0 0 -160px;
}
.login_tistory{
        position: relative;
        width: 320px;
        margin: 0 auto;
    }
.screen_out {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    text-indent: -9999px;
}
body, button, input, select, td, textarea, th {
    font-size: 13px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
fieldset, img {
    border: 0;
}
.login_tistory .box_login {
    margin: 35px 0 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    box-sizing: border-box;
}
.login_tistory .inp_text {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 18px 19px 19px;
    box-sizing: border-box;
}
.login_tistory .inp_text+.inp_text {
    border-top: 1px solid #ddd;
}
.inp_text input {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 13px;
    color: #000;
    border: none;
    outline: 0;
    -webkit-appearance: none;
    background-color: transparent;
}
.btn_login {
    margin: 20px 0 0;
    width: 100%;
    height: 48px;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
    background-color: #000;
}
.login_append {
    overflow: hidden;
    padding: 15px 0 0;
}
.inp_chk {
    display: inline-block;
    position: relative;
    margin-bottom: -1px;
}
.login_append .inp_chk {
    float: left;
}
.inp_chk .inp_radio {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 0;
}
.inp_chk .lab_g {
    display: inline-block;
    margin-right: 19px;
    color: #909090;
    font-size: 13px;
    line-height: 19px;
    vertical-align: top;
}
.inp_chk .ico_check {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 1px 4px 0 0;
    background-position: -60px 0;
    color: #333;
}
.inp_chk .txt_lab {
    vertical-align: top;
}
.login_append .txt_find {
    float: right;
    color: #777;
}
* {
   user-select: none;
   -ms-user-select: none;
   outline: 0;
   margin: 0;
   padding: 0;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     box-sizing: content-box;
}
h1{
  color: #03cf5d;
  font-size: 40px;
}
h2{
  font-size: 40px;
}
a {
  text-decoration:none;
  color: #03cf5d;
}
.blind{
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}
  #header-top{
    float:right;
  }
#header-search a {
  text-decoration: none;
}
#fixed {
  position: fixed;
  top: 50px;
  right: 50px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50px;
}
.nav{
  border-bottom: 1px solid black;
}
.center-align {
  margin: 0 auto;
  width: 1080px;
}
main{
  background-color: #f2f4f7;
  display: inline-block;
  width: 100%;
  margin-top:10px;
}
#header-search > h1 {
  width: 198px;
  height: 48px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -6px;
  right: -2px;
}
#header-search h2 {
  display: none;
}
#header-search fieldset{
  margin-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  width: 521px;
  height: 20px;
  border: 2px solid #03cf5d;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none;
  vertical-align: top;
  width: 510px;
  height: 23px;
  display: inline-block;
}


.nav{
  border-bottom: 1px solid black;
}
#topMenu {
            border: 1px solid #b8b8b8;
            height: 30px;
            width: 1080px;
            display:flex;
            justify-content: center;
            position: relative;
            background-color: #f6f6f6;
            margin: 0 auto;
            top:10px;
    }
    #topMenu ul {
       list-style-type: none;
       margin: 0px;
       padding: 0px;
       justify-content: center;
       text-align: center;
    }
    #topMenu ul li {
        color:#b8b8b8;
        background-color: #f6f6f6;
        float: left;
        line-height: 30px;
        vertical-align: middle;
        text-align: center;
        -position: relative;
    }
    .menuLink, .submenuLink {
        text-decoration:none;
        display: block;
        width: 150px;
        font-size: 12px;
        font-weight: bold;
        font-family: "Trebuchet MS", Dotum;
        color: #2DB400;

    }
    .menuLink {
        color:#2DB400;
    }
    .topMenuLi:hover .menuLink {
        color: #2DB400;
        background-color: #f6f6f6;

    }
    .longLink {
        width: 190px;
    }
.submenuLink {
        color: #2d2d2d;
        background-color: #f6f6f6;
        -border: solid 1px #b8b8b8;
        -margin-right: -1px;
    }
    .submenu {
       position: absolute;
       height: 0px;
       overflow: hidden;
       transition: height .2s;
       -webkit-transition: height .2s;
       -moz-transition: height .2s;
       -o-transition: height .2s;
       width: 1080px;
       display:flex;
       justify-content: center;
       left: 0;


        background-color: #f6f6f6;
    }
    .submenu li {
        display: inline-block;


    }
    .topMenuLi:hover .submenu {
        height: 32px;
    }
    .submenuLink:hover {
        color: #2DB400;
        background-color:#f6f6f6;
    }
