h1{ color: #2DB400}
a { text-decoration:none;
color: #2DB400;}
.nav{
  border-bottom: 1px solid black;
}
#topMenu {
            border: 1px solid #b8b8b8;
            height: 30px;
            width: 100%;
            display:flex;
            justify-content: center;
            position: relative;
          background-color: #f6f6f6;
    }
    #topMenu ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }
    #topMenu ul li {
        color:#b8b8b8;
        background-color: #f6f6f6;
        float: left;
        line-height: 30px;
        vertical-align: middle;
        text-align: center;
        -position: relative;
    }
    .menuLink, .submenuLink {
        text-decoration:none;
        display: block;
        width: 150px;
        font-size: 12px;
        font-weight: bold;
        font-family: "Trebuchet MS", Dotum;
        color: #2DB400;

    }
    .menuLink {
        color:#2DB400;
    }
    .topMenuLi:hover .menuLink {
        color: #2DB400;
        background-color: #f6f6f6;

    }
    .longLink {
        width: 190px;
    }
.submenuLink {
        color: #2d2d2d;
        background-color: #f6f6f6;
        -border: solid 1px #b8b8b8;
        -margin-right: -1px;
    }
    .submenu {
        position: absolute;
        height: 0px;
        overflow: hidden;
        transition: height .2s;
        -webkit-transition: height .2s;
        -moz-transition: height .2s;
        -o-transition: height .2s;
        width: 100%;
        display:flex;
        justify-content: center;
        left: 0;


        background-color: #f6f6f6;
    }
    .submenu li {
        display: inline-block;


    }
    .topMenuLi:hover .submenu {
        height: 32px;
    }
    .submenuLink:hover {
        color: #2DB400;
        background-color:#f6f6f6;
    }
    h1{ color: #2DB400}
#topMenu {
            border: 1px solid #b8b8b8;
            height: 30px;
            width: 100%;
            display:flex;
            justify-content: center;
            position: relative;
          background-color: #f6f6f6;
    }
    #topMenu ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }
    #topMenu ul li {
        color:#b8b8b8;
        background-color: #f6f6f6;
        float: left;
        line-height: 30px;
        vertical-align: middle;
        text-align: center;
        -position: relative;
    }
    .menuLink, .submenuLink {
        text-decoration:none;
        display: block;
        width: 150px;
        font-size: 12px;
        font-weight: bold;
        font-family: "Trebuchet MS", Dotum;
        color: #2DB400;

    }
    .menuLink {
        color:#2DB400;
    }
    .topMenuLi:hover .menuLink {
        color: #2DB400;
        background-color: #f6f6f6;

    }
    .longLink {
        width: 190px;
    }
.submenuLink {
        color: #2d2d2d;
        background-color: #f6f6f6;
        -border: solid 1px #b8b8b8;
        -margin-right: -1px;
    }
    .submenu {
        position: absolute;
        height: 0px;
        overflow: hidden;
        transition: height .2s;
        -webkit-transition: height .2s;
        -moz-transition: height .2s;
        -o-transition: height .2s;
        width: 100%;
        display:flex;
        justify-content: center;
        left: 0;


        background-color: #f6f6f6;
    }
    .submenu li {
        display: inline-block;


    }
    .topMenuLi:hover .submenu {
        height: 32px;
    }
    .submenuLink:hover {
        color: #2DB400;
        background-color:#f6f6f6;
    }
